.main {
  margin-bottom: 40px;
}

.container {
  margin: 20px;
}

.nav-container {
  margin: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo { 
  cursor: pointer;
}

.logo__svg {
  width: 100%;
}

.logo__path {
  fill: rgb(118, 117, 220);
  transition: 0.7s;
}

.logo:hover .logo__path {
  fill: #7ca9af;
}

.nav__items {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin: 0;
}

.nav__item {
  margin-right: 15%;
}

.nav__link {
  border-bottom: 0px solid black;
  color: black;
}

.nav__link--is-active {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.nav__link:after {
  display: block;
  content: '';
  position: relative;
  background-color: #a4d7dd;
  height: 14px;
  width: 0;
  left: 0;
  bottom: 17px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.nav__link:hover:after{
  width: 100%;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #1a1a1a;
  font-size: 13px;
  padding: 30px 0 20px;
}

.footer a {
  color: white;
}

.footer__items {
  align-items: start;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3,32%);
  grid-template-rows: repeat(2,auto);
  grid-row-gap: 21px;
  margin: 0;
  line-height: 16px;
  grid-auto-flow: column;
  padding: 0 5%;
}

.footer__item--2c {
  grid-row: 1/3;
}

.footer__i {
  margin-right: 9px;
}

.footer__i--big {
  font-size: 15px;
}

.footer__item-hr{
  width: 0;
  text-align: left;
  margin: 0 7px 0 0;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid;
  transition: 1s;
}

.footer__item:hover .footer__item-hr{
  width: 20px;
}

.footer__hr {
  border-style: solid;
  margin: 20px 0;
}

.footer__copyright {
  padding-left: 5%;
  margin: 0;
}

@media only screen and (max-width : 640px) {

.nav__link:hover:after{
  width: 0;
}

.nav__items{
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: aliceblue;
  right: -100%;
  visibility: hidden;
  transition: 0.7s;
  justify-content: center;
}

.nav__item {
  font-size: 36px;
  text-align: right;
  padding: 5vh 0;
}

.nav__items.active{
  right: 0;
  visibility: visible;
}

.logo:hover .logo__path {
  fill: black;
}

.footer__items {
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-gap: 50px;
  padding: 0 20px;
}

.footer__item--2c {
  grid-row: auto;
}

.footer__item-hr {
  display: none;
}

.footer__copyright{
  padding: 0 20px;
}

}

@media only screen and (max-width : 200px) {
  .logo {
    width: 50%;
  }
}